@import url('https://fonts.googleapis.com/css2?family=Manuale:wght@400;600&family=Raleway&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

header {
    padding: 20px 0px;
    background-color: #fff;
}
header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo > img {
    max-width: 100px;
}
header .logo > h1 {
    font-style: italic;
    font-weight: 600;
    font-family: 'Manuale', sans-serif;
    font-size: 17px;
    margin: 0;
}
header .menu > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
header .menu > ul > li {
    margin: 0px 20px;
    border-top: 2px solid transparent;
    padding: 7px 0px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
header .menu > ul > li > a {
    color: #000;
    text-decoration: none;
}
header .menu > ul > li:hover {
    border-top: 2px solid #38abe4;
}

.first_block {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.449), rgba(0, 0, 0, 0.593)), url("../images/bg1.jpg");
    width: 100%;
    min-height: 719px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.first_block h1 {
    font-weight: 500;
    font-size: 136px;
    color: #fff;
    line-height: 0.96em;
}
.first_block p {
    font-family: 'Manuale', sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    line-height: 1;
}

.second_block {
    width: 100%;
    padding: 80px 0px;
    position: relative;
}
.second_block .col-sm-6 {
    display: flex;
    align-items: center;
}
.second_block .block_post {
    position: relative;
}
.second_block .block_post > h3 {
    position: absolute;
    left: -120px;
    top: -30px;
    font-weight: 700;
    color: rgba(138,138,138,0.1);
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
.second_block .block_post > h2 {
    color: #2c2c2c;
    font-family: 'Manuale', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.second_block .block_post > p {
    color: #8a8a8a;
    font-size: 17px;
    font-weight: 400;
}
.second_block .block_post > a {
    display: flex;
    align-items: center;
    color: #2c2c2c;
    font-family: 'Manuale', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}
.second_block .block_post > a > img {
    width: 15px;
    margin-left: 5px;
}
.second_block .block_post_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.second_block .block_post_image > span {
    width: 50%;
    text-align: right;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Manuale', sans-serif;
    color: #2c2c2c;
}
.second_block > .square_block {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 60%;
    height: 70%;
    background-color: #fbfbfb;
    z-index: -1;
}

footer {
    background-color: #101010;
    padding: 100px 0px;
}
footer .col-sm-6:nth-child(2) {
    display: flex;
    justify-content: center;
}
footer .form {
    position: relative;
}
footer .form > h3 {
    position: absolute;
    left: -120px;
    top: -30px;
    font-weight: 700;
    color: rgba(138,138,138,0.1);
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
footer .form > h2 {
    color: #d3d3d3;
    font-family: 'Manuale', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
footer .form > p {
    color: #b8b8b8;
    font-size: 17px;
    font-weight: 400;
}
footer .form > form {
    display: flex;
    flex-wrap: wrap;
}
footer .form > form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 9px 0px;
    margin-top: 16px;
    color: #fff;
    outline: none;
}
footer .form > form textarea {
    width: 100%;
    margin-top: 16px;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 9px 0px;
    min-height: 150px;
    height: 150px;
    outline: none;
    color: #fff;
}
footer .form > form .col-xs-12 > button {
    float: left;
    margin-top: 26px;
    font-family: 'Manuale', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 17px 59px 17px 59px;
    background-color: #e34c38;
    border-radius: 100px;
    border: none;
    transition: all 0.2s;
}
footer .form > form .col-xs-12 > button:hover {
    background-color: #fff;
    color: #000;
}

.copyright {
    width: 100%;
    background-color: #0b0b0b;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.copyright p {
    color: #B8B8B8;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}