@import url('https://fonts.googleapis.com/css2?family=Manuale:wght@400;600&family=Raleway&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

header {
    padding: 20px 0px;
    background-color: #fff;
}
header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo > img {
    max-width: 100px;
}
header .logo > h1 {
    font-style: italic;
    font-weight: 600;
    font-family: 'Manuale', sans-serif;
    font-size: 17px;
    margin: 0;
}
header .menu > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
header .menu > ul > li {
    margin: 0px 20px;
    border-top: 2px solid transparent;
    padding: 7px 0px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
header .menu > ul > li > a {
    color: #000;
    text-decoration: none;
}
header .menu > ul > li:hover {
    border-top: 2px solid #38abe4;
}

.first_block {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.449), rgba(0, 0, 0, 0.593)), url("../images/bg1.jpg");
    width: 100%;
    min-height: 719px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.first_block h1 {
    font-weight: 500;
    font-size: 136px;
    color: #fff;
    line-height: 0.96em;
}
.first_block p {
    font-family: 'Manuale', sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    line-height: 1;
}

.second_block {
    width: 100%;
    padding: 80px 0px;
    position: relative;
}
.second_block .col-sm-6 {
    display: flex;
    align-items: center;
}
.second_block .block_post {
    position: relative;
}
.second_block .block_post > h3 {
    position: absolute;
    left: -120px;
    top: -30px;
    font-weight: 700;
    color: rgba(138,138,138,0.1);
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
.second_block .block_post > h2 {
    color: #2c2c2c;
    font-family: 'Manuale', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.second_block .block_post > p {
    color: #8a8a8a;
    font-size: 17px;
    font-weight: 400;
}
.second_block .block_post > a {
    display: flex;
    align-items: center;
    color: #2c2c2c;
    font-family: 'Manuale', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}
.second_block .block_post > a > img {
    width: 15px;
    margin-left: 5px;
}
.second_block .block_post_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.second_block .block_post_image > span {
    width: 50%;
    text-align: right;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Manuale', sans-serif;
    color: #2c2c2c;
}
.second_block > .square_block {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 60%;
    height: 70%;
    background-color: #fbfbfb;
    z-index: -1;
}


.thirty_block {
    width: 100%;
    padding: 80px 0px;
    position: relative;
}
.thirty_block > h3 {
    position: absolute;
    left: 33%;
    top: 0px;
    font-weight: 700;
    color: rgba(138,138,138,0.1);
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
.thirty_block > .container > h2 {
    text-align: center;
    color: #2c2c2c;
    font-family: 'Manuale', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
/*-----------------*/
/***** Terry *****/
/*-----------------*/
.grid {
	position: relative;
    display: flex;
    justify-content: center;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 620px;
	max-width: 620px;
	max-height: 350px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}
.grid figure h2 > a {
    color: #fff;
    text-decoration: none;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-terry {
	background: #34495e;
}

figure.effect-terry figcaption {
	padding: 1em;
}

figure.effect-terry figcaption::before,
figure.effect-terry figcaption::after {
	position: absolute;
	width: 200%;
	height: 200%;
	border-style: solid;
	border-color: #101010;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-terry figcaption::before {
	right: 0;
	bottom: 0;
	border-width: 0 70px 60px 0;
	-webkit-transform: translate3d(70px,60px,0);
	transform: translate3d(70px,60px,0);
}

figure.effect-terry figcaption::after {
	top: 0;
	left: 0;
	border-width: 15px 0 0 15px;
	-webkit-transform: translate3d(-15px,-15px,0);
	transform: translate3d(-15px,-15px,0);
}

figure.effect-terry img,
figure.effect-terry p a {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-terry img {
	opacity: 0.85;
}

figure.effect-terry h2 {
	position: absolute;
	bottom: 0;
	left: 0;
    background-color: #000;
    border-top-left-radius: 10px;
	padding: 0.2em 10px;
	width: 50%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

@media screen and (max-width: 920px) {
	figure.effect-terry h2 {
		padding: 0.75em 10px;
		font-size: 120%;
	}
}

figure.effect-terry p {
	float: right;
	clear: both;
	text-align: left;
	text-transform: none;
	font-size: 111%;
}

figure.effect-terry p a {
	display: block;
	margin-bottom: 1em;
	color: #fff;
	opacity: 0;
	-webkit-transform: translate3d(90px,0,0);
	transform: translate3d(90px,0,0);
}

figure.effect-terry p a:hover,
figure.effect-terry p a:focus {
	color: #f3cf3f;
}

figure.effect-terry:hover figcaption::before,
figure.effect-terry:hover figcaption::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-terry:hover img {
	opacity: 0.6;

}

figure.effect-terry:hover h2,
figure.effect-terry:hover p a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-terry:hover p a {
	opacity: 1;
}

figure.effect-terry:hover p a:first-child {
	-webkit-transition-delay: 0.025s;
	transition-delay: 0.025s;
}

figure.effect-terry:hover p a:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-terry:hover p a:nth-child(3) {
	-webkit-transition-delay: 0.075s;
	transition-delay: 0.075s;
}

figure.effect-terry:hover p a:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

footer {
    background-color: #101010;
    padding: 100px 0px;
}
footer .col-sm-6:nth-child(2) {
    display: flex;
    justify-content: center;
}
footer .form {
    position: relative;
}
footer .form > h3 {
    position: absolute;
    left: -120px;
    top: -30px;
    font-weight: 700;
    color: rgba(138,138,138,0.1);
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
footer .form > h2 {
    color: #d3d3d3;
    font-family: 'Manuale', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
footer .form > p {
    color: #b8b8b8;
    font-size: 17px;
    font-weight: 400;
}
footer .form > form {
    display: flex;
    flex-wrap: wrap;
}
footer .form > form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 9px 0px;
    margin-top: 16px;
    color: #fff;
    outline: none;
}
footer .form > form textarea {
    width: 100%;
    margin-top: 16px;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 9px 0px;
    min-height: 150px;
    height: 150px;
    outline: none;
    color: #fff;
}
footer .form > form .col-xs-12 > button {
    float: left;
    margin-top: 26px;
    font-family: 'Manuale', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 17px 59px 17px 59px;
    background-color: #e34c38;
    border-radius: 100px;
    border: none;
    transition: all 0.2s;
}
footer .form > form .col-xs-12 > button:hover {
    background-color: #fff;
    color: #000;
}

.copyright {
    width: 100%;
    background-color: #0b0b0b;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.copyright p {
    color: #B8B8B8;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

/* Options styles */

.option_block {
    width: 100%;
    padding: 50px 0px;
}

.option_header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}
.option_header > h1 {
    margin: 0;
    font-family: 'Manuale', sans-serif;
    font-size: 35px;
}
.option_header > a > img {
    position: absolute;
    left: 15px;
    top: 0;
    max-width: 40px;
    margin-right: 20px;
}

.option_content .col-sm-6 > a {
    display: flex;
    justify-content: center;
}
.option_content img {
    max-width: 60%;
    width: 100%;
}
.option_content h2 {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}